@tailwind base;
@tailwind components;
@tailwind utilities;


.zig-zag-curve {
    background: linear-gradient(
      135deg,
      transparent 25%,
      #8b5cf6 25%,
      #8b5cf6 50%,
      transparent 50%,
      transparent 75%,
      #8b5cf6 75%,
      #8b5cf6 100%
    );
    background-size: 20px 20px;
  }



@keyframes rgbShift {
  0% {
    background-color: rgb(255, 0, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  66% {
    background-color: rgb(255, 0, 195);
  }
  100% {
    background-color: rgb(255, 0, 0);
  }
}

.rgb-animate {
  animation: rgbShift 4s infinite linear;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  ;
  border: none;
}

